{% include "common.html.twig" %}
<div class="page-desc">
    <div class="tokenssl-page-title">申请 SSL 证书</div>
    您可以很容易从市场寻找到 Token SSL 卖家。
</div>
{# 服务器基本信息 #}

<div class="line" style="padding-top: 0px;">
    <div class="to_tvalue" style="height: auto;">
        <div>申请信息:</div>
        {% if site.site_domains is not empty %}
            <div readonly disabled class="bt-input-text text-right" style="padding: 5px 10px;margin: 0px; width: 100%; height: {{ height }}px; line-height: 18px;" onclick="return false;">
                {% for domain in site.site_domains %}
                    {{ domain }}<br />
                {% endfor %}
                ----------------------------------------<br />
                ({{ san }}) ×
                {% if period is same as('weekly') %} 1周 {% endif %}
                {% if period is same as('monthly') %} 1个月 {% endif %}
                {% if period is same as('quarterly') %} 3个月 {% endif %}
                {% if period is same as('semi-annually') %} 半年 {% endif %}
                {% if period is same as('annually') %} 1年 {% endif %}
                {% if period is same as('biennially') %} 2年 {% endif %}
                {% if period is same as('triennially') %} 3年 {% endif %}
                {% if period is same as('quadrennially') %} 4年 {% endif %}
                {% if period is same as('quinquennially') %} 5年 {% endif %}
            </div>
        {% else %}
            暂无域名
        {% endif %}
    </div>
</div>

<div class="line">
    <span class="to_tvalue">
        <!--
            <button class="btn btn-danger btn-sm" onclick="layer.msg('请联系您的销售经理额外采购1个通配符', { icon: 2 });">检测不通过，无法部署</button>
        -->
        <button onclick="javascript:tokenssl.createNewFullSSL('{{ site.id }}', '{{token}}', '{{unique_value}}');" class="btn btn-success btn-sm" title="部署">部署</button>
        <button onclick="javascript:tokenssl.page('siteSetting',{siteId:'{{ site.id }}'});" class="btn btn-default btn-sm btn-nobg" title="返回站点详情" style="color: #8c8b8b !important;"> 放弃</button>
    </span>
</div>
